<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arkbarkberg.rehappilitering" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/rehapp_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="arkbarkberg.rehappilitering.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="arkbarkberg.rehappilitering.YourExercises"
            android:label="@string/title_activity_your_exercises"
            android:parentActivityName="arkbarkberg.rehappilitering.MainActivity" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="arkbarkberg.rehappilitering.MainActivity" />
        </activity>

        <activity
            android:name="arkbarkberg.rehappilitering.InstructionsAdd"
            android:label="@string/title_activity_instructions_add"
            android:parentActivityName="arkbarkberg.rehappilitering.AddExercisesToList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="arkbarkberg.rehappilitering.AddExercisesToList" />
        </activity>
        <activity
            android:name="arkbarkberg.rehappilitering.InstructionsYour"
            android:label="@string/title_activity_instructions_your"
            android:parentActivityName="arkbarkberg.rehappilitering.YourExercises" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="arkbarkberg.rehappilitering.YourExercisesListed" />
        </activity>
        <activity
            android:name="arkbarkberg.rehappilitering.Evaluate"
            android:label="@string/title_activity_evaluate" >
        </activity>
    </application>

</manifest>
